body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/** ================HEADER==================== */
.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
p {
  margin: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.header-logo {
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-span {
  color: #2e2f42;
}
.header-menu-list {
  display: none;
  gap: 40px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.header-menu-item {
  padding: 24px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-menu-link-first {
  position: relative;
  padding: 24px 0;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link-first::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
/* .header-menu-item:first-child ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
} */

.address {
  display: none;
  align-items: center;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.address-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.address-list-item {
  display: flex;
}
.address-menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-menu-link:hover,
.address-menu-link:focus {
  color: #404bbf;
}

.header-menu-button {
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon {
  color: #2e2f42;
}
.mob-menu {
  position: fixed;
  z-index: 1;
  padding: 24px 24px 40px 16px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
}
.menu-close-btn {
  position: absolute;
  width: 8px;
  height: 8px;
  padding: 0;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px #e7e9fc;
  right: 24px;
  top: 24px;
}
.header-icon {
}
.mob-menu-list {
  margin-top: 48px;
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.mob-menu-link-first {
  color: #404bbf;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.mob-address-list {
  margin-bottom: 48px;
}
.mob-address-list-item-num {
  color: #4d5ae5;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 24px;
}
.mob-address-list-item {
  color: #434455;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mob-address-menu-link {
}
.mob-soc-list {
  display: flex;
  gap: 40px;
}
.mob-soc-item {
}
.mob-soc-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-soc-item-icon {
}

/** ================HERO==================== */

.hero {
  display: flex;
  padding: 72px 0;
}

.hero-container {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 auto;
  max-width: 1440px;
}

.hero-title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/** ================FEATURES==================== */
.features {
  padding: 96px 0;
  background-color: #fff;
}
.features-container {
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  list-style-type: none;
}

.features-item {
}

.features-icon-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.features-item-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  /* width: 264px; */

  gap: 8px;
  text-align: center;
}
.features-item-title-par {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* width: 264px; */
  align-items: flex-start;
  gap: 8px;
  margin: 0;
}
/** ================TEAM==================== */
.team {
  padding: 120px 0;

  background-color: #f4f4fd;
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.02em;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
}
.team-list .team-title:first-child {
  width: calc((100% - 72px) / 4);
}

.team-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-hero {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.container-team {
  padding: 32px 0;
}
.team-hero-name {
  text-align: center;
  margin-bottom: 8px;

  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-hero-proff {
  text-align: center;
  margin-top: 8px;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-hero-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  list-style-type: none;
}
.team-hero-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.team-hero-link:hover,
.team-hero-link:focus {
  background-color: #404bbf;
}

.team-hero-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-hero-item-icon {
  fill: #f4f4fd;
}
/** ================PORTFOLIO==================== */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.02em;
}
.portfolio-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-title-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style-type: none;
}
.portfolio-title-item {
  /* width: calc((100% - 48px) / 3); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-title-item:hover .portfolio-parag {
  transform: translateY(0%);
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
  width: 288px;
  height: 280px;
}

.portfolio-parag {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.portfolio-item-name {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-item-info {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

/** ================FOOTER==================== */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px 0;
  background-color: #2e2f42;
  color: #fff;
}

.footer-container {
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.footer-title {
  display: flex;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
}
.footer-title-span {
  color: #f4f4fd;
}

.footer-title-item {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.social-media-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.social-media-title {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 0;
}
.social-media-list {
  display: flex;

  gap: 16px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}
.social-media-item-icon {
  fill: #f4f4fd;
}
.subscribe-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.subscribe-container-title {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.sub-footer-input {
  width: 264px;
  height: 40px;
  display: flex;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.form-btn-icon {
  margin-left: 16px;
}
/* ============================================================== */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 288px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 24px;
  top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 360px;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}
.modal-input {
  width: 256px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: inherit;
  outline: transparent;
  padding-left: 38px;
  caret-color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-icon {
  color: #4d5ae5;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 16px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  margin-bottom: 16px;
  position: relative;
}

.modal-comment {
  width: 256px;
  height: 120px;
  border-radius: 4px;
  padding: 8px 287px 98px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  width: 16px;
  height: 16px;
  stroke-width: 1px;
  stroke: rgba(46, 47, 66, 0.4);
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-field-checkbox {
  margin-bottom: 24px;
}
.user-privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.check-text {
  width: 338px;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-text span {
  fill: transparent;
}
.check-privacy {
  color: #4d5ae5;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.modal-btn-send {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-bottom: 16px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-privacy {
  color: #4d5ae5;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.modal-checkbox:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #d9d9d9;
}

/*********Media************/

/* @media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }
} */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header-menu-list {
    display: flex;
  }
  .address {
    display: block;
  }
  .address-list {
    display: block;
  }
  .address-menu-link {
    font-size: 12px;
  }
  .header-menu-button {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .hero-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }
  .hero {
    padding: 112px auto;
  }
  .hero-title {
    max-width: 496px;

    font-size: 56px;

    line-height: 1.07;
  }
  .features-list {
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .team-list {
    gap: 64px 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .team-hero {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }

  .portfolio-title-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-title-list {
    flex-wrap: wrap;
  }
  .portfolio-image-container {
    width: 356px;
    height: 300px;
  }
  .footer-wrapper {
    gap: 72px 24px;
  }

  .footer-title {
    display: block;
  }
  .social-media-container {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .subscribe-container {
    display: block;
  }
  .footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .modal {
    width: 408px;
  }
  .modal-input {
    width: 360px;
  }
  .modal-comment {
    width: 360px;
  }
}
@media screen and (min-width: 1166px) {
  .container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero-container {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }
  .hero {
    padding: 188px 0;
  }
  .hero-title {
    max-width: 496px;
  }
  .address-list {
    display: flex;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0;
  }

  .features-icon-container {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    gap: 24px;
  }
  .features-item {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .features-item-title {
    font-size: 20px;
    font-weight: 500;
  }
  .features-icon-container {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
  }
  .team-list {
    flex-wrap: nowrap;
  }

  .portfolio-title-item {
    width: calc((100% - 96px) / 3);
  }
  .portfolio-img {
    width: 100%;
    height: 100%;
  }
  .portfolio-title-list {
    gap: 24px 48px;
  }
  .social-media-container {
    margin-left: 120px;
  }
  .subscribe-container {
    flex-grow: 1;
    margin-left: 80px;
  }

  .subscribe-container-title {
    margin-left: ;
  }
  .footer-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: unset;
    align-items: baseline;
  }
  .footer-title-item {
    width: 264px;
  }
  .footer-form {
    justify-content: left;
  }
}
